<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Courses</h1>
<table>
  <thead>
  <th>ID</th>
  <th>Course name</th>
  <th>Category</th>
  <th>Course start</th>
  <th>Course end</th>
  <th>Teacher name</th>
  </thead>

  <tbody>
  <tr th:each="course : ${coursesList}">
    <td th:text="${course.id}"></td>
    <td th:text="${course.courseName}"></td>
    <td th:text="${course.category}"></td>
    <td th:text="${course.startDate}"></td>
    <td th:text="${course.endDate}"></td>
    <td th:text="${course.teacherName}"></td>
  </tr>
  </tbody>
</table>


</body>
</html>